* {
    box-sizing: border-box;
}

body {
    font-family: 'Rammetto One', cursive;
    margin: 0;
    min-height: 100vh;
    background: url(../images/paws.jpg) no-repeat center / cover;
/*    background-color: #90979F;*/
    background-blend-mode: luminosity;
    /*hard-light / lighten / luminosity*/
    
    display: flex;
    flex-direction: column;
    
    transition: background-color .3s;
}

img {
    max-width: 100%;
}

ul {
    padding-left: 0;
    margin: 0;
    list-style: none;
}

/* ==============================================
    Cats List 
================================================= */
.cats-list {
    background-color: rgba(255, 255, 255, .7);
    padding: .5em;
    
    display: flex;
/*    flex-direction: column;*/
    flex-wrap: wrap;
    justify-content: space-around;
    
    transition: background-color .3s;
}

.cats-list:hover {
    background-color: rgba(255, 255, 255, 1);
}

/* --- Cat li --- */
.cats-list li {
    font-size: 1.2rem;
    padding: 0 .3em;
    
    display: flex;
    align-items: center;
    justify-content: space-between;
}

/* --- Cat Name --- */
.cats-list .cat-name {
    padding: .3em .6em .3em 0;
    border-bottom: 0.1em solid transparent;
    
    transition-property: border-bottom;
    transition-duration: .3s;
    
    cursor: pointer;
}

.cats-list .cat-name:hover {
    border-bottom: 0.1em solid;
}

/* --- Cat Remove --- */
.cats-list .remove {
    padding: .1em;
    
    cursor: pointer;
    
    transition: transform .2s;
}

.cats-list .remove:hover {
    transform: rotate(180deg);
}


/* ==============================================
    Cat Template and Add Form
================================================= */
.cat-and-add {
    padding: 1rem;
    
    flex-grow: 1;
    
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    
    position: relative;
}

/* ================================
    Cat Template 
=================================== */
.cat {
    display: flex;
    flex-direction: column;
    align-items: center;
            
    transition: opacity .15s;
    
    margin-bottom: .5rem;
}

.fade-out {
    opacity: 0;
}

/* --- Clicks --- */
.clicks-record {
    font-size: 1.8rem;
    background-color: rgba(255, 255, 255, .9);
    border: 0.063em solid;
    box-shadow: 5px 5px;
    border-radius: 1.2em;
    
    line-height: 1;
    padding: .5em;
    
    display: none;
    justify-content: center;
    align-items: center;
}

.show {
    display: flex;
}

/* --- Cats names --- */
.name {
    font-size: 1.2rem;
    margin: 1.2em 0 .4em;
}

/* --- Cats Images --- */
.cat img {
    width: 100%;
    max-width: 18rem;
    max-height: 12rem;
    object-fit: contain;
    border: 0.05em solid transparent;
    border-radius: 2em;
    
    transition-property: background-color, border, box-shadow;
    transition-duration: .4s;
    
    cursor: pointer;
}

.cat img:hover {
    background-color: rgba(255, 255, 255, .8);
    border: 0.05em solid #d9e4ea;
    box-shadow: 2px 2px 10px #d9e4ea;
}

/* ================================
    Plus Sign and Form 
=================================== */
.plus-and-form {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* ================================
    Add Plus sign 
=================================== */
.add {
    font-size: 2.5rem;
    line-height: .8;
    
    background-color: #fff;
    padding: .15em;
    border: 4px solid;
    border-radius: 50%;
    
    opacity: .8;
    z-index: 1;
    
    cursor: pointer;
    
    position: absolute;
    
    transition-property: color, transform, opacity;
    transition-duration: .3s;
}

.move {
/*    transition-timing-function: cubic-bezier(.48,1.46,.68,1);*/
    transform: translate(-107px, -83px)
}

.add:hover {
    opacity: 1;
}

/* ================================
    Add Form 
=================================== */
.add-cat {
    background-color: #fff;
    max-width: 217px;
    padding: .5rem;
    border: 3px solid;
    border-radius: .9rem;
    
    display: flex;
    flex-direction: column;
    
    transform: scale(0);
    transition-property: color, transform;
    transition-duration: .3s;
}

.pop-up {
/*    transition-timing-function: cubic-bezier(.48,1.46,.68,1);*/
    transform: scale(1);
}

.add-cat input {
    font-family: inherit;
    color: inherit;
    
    margin-bottom: .3rem;
    padding: .2rem;
    border: 2px solid;
    border-radius: .5rem;
}

.add-cat button {
    font-family: inherit;
    font-size: .9rem;
    font-weight: bold;
    color: #fff;
    padding: .3rem .6rem;
    margin-top: .2em;
    border: none;
    border-radius: .6rem;
    
    align-self: center;
    
    transition-property: box-shadow, background-color;
    transition-duration: .3s;
}

.add-cat:invalid button:hover {
    cursor: not-allowed;
}

.add-cat:valid button:hover {
    cursor: pointer;
    box-shadow: 5px 5px 8px rgba(0, 0, 0, .2);
}

::placeholder {
    color: inherit;
    opacity: .65;
}

/* ==============================================
    Media Queries
================================================= */
@media (min-width: 505px) {
    .cats-list li {
        font-size: 2rem;
    }
    
    .clicks-record {
        font-size: 3rem;
    }
    
    .name {
        font-size: 1.5rem;
    }
}

